## Sqlite 3

In [1]:
import sqlite3

Other database software stores data in many different files, but sqlite can store a database in a single file on our machine.

### Create a Database

In [2]:
conn = sqlite3.connect('data/example.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute('CREATE TABLE person(name text, address text)')
conn.commit()

OperationalError: table person already exists

In [8]:
c.execute("SELECT name FROM sqlite_master WHERE type= 'table'")
c.fetchall()

[('person',)]

In [9]:
c.execute("INSERT INTO person VALUES ('Anna Henry', 'Carlow')")
conn.commit()